@model DiaryAppOlga.Models.UserAim


@{
    ViewData["Title"] = "DeleteAim";
}

@*<h1>Delete goal</h1>*@

<div class="container-fluid py-lg-3 m-lg-3">
    <h1 class="text-lg-left font-weight-light">Delete goal?</h1>
</div>

<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3 class="text-danger text-md-center">Are you sure you want to delete your goal?</h3>
<h4 class="text-danger text-md-center">Note that you cannot undo a deletion!</h4>
    <div class="container-fluid w-75">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayName("Goal")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Aim)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayName("End Date")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EndDate)
            </dd>

        </dl>

        <form asp-action="Delete" class="text-md-center">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-outline-dark-rounded bg-danger" /> |
            <a asp-action="Aim" class="btn btn-outline-dark-rounded bg-light">No</a>
        </form>
    </div>
